<nav class="navbar navbar-expand-lg" [ngStyle]="navBackground">
  <div class="container-fluid">
    <a class="navbar-brand foto" routerLink="home"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ms-2 me-4">
          <a class="nav-link btn btn-danger search" routerLink="login" *ngIf="!loggedIn" (click)="login()">Iniciar sesión</a>
        </li>
        <li class="nav-item ms-2 me-4">
          <a class="nav-link btn btn-danger search" routerLink="login" (click)="logout()" *ngIf="loggedIn">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
