<div class="container">
    <div class="row logo">
        <img id="logo" src="../../../assets/images/nesflis_logo.png" alt="Descripción de la imagen">
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1>Los grandes éxitos españoles e internacionales. Las mejores historias. Todos en Netflix.</h1>
            <h2>Ve Netflix donde quieras. Cancela cuando quieras.</h2>
            <h3>¿Quieres ver algo ya? Escribe tu dirección de correo para crear una suscripción a Netflix o reactivarla.</h3>
        </div>
    </div>
</div>