#logo{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    
}

.parrafo{
    display: flex;
    justify-content: space-around; /* Centrar horizontalmente */
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
}

div h1, h2, h3{
    color: white;
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #E50914;
    border: none;
}
.emailInput {
    background-color: #333333;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.emailInput:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE; 
}

.formulario{
    margin-top: 30px;
}
.default-ltr-cache-1sevpkx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: rgb( 14, 27, 79 );
    background: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100% );
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 0 74px;
    color: white;
    padding: 22px;
    
}
hoja de estilo de user-agent
div {
    display: block;
}
